# .flake8

[flake8]

# Maximum allowed line length
max-line-length = 100

# Error codes to ignore
ignore =
    E114,  # indentation is not a multiple of 4 (comment)
    E116,  # unexpected indentation (comment)
    E117,  # over-indented
    E222,  # multiple spaces after operator
    E225,  # missing whitespace around operator
    E226,  # missing whitespace around arithmetic operator
    E275,  # missing whitespace after keyword
    E741,  # ambiguous variable name
    W293,  # blank line contains whitespace
    E231,
    E265,
    W391,
    E302,
    W292,
    E303,
    E501,
    F811,
    F405,
    E722,
    F841

# Paths to exclude from linting
exclude =
    venv/,
    migrations/,
    .gitlab-ci.yml,
    __pycache__/,
    static/
