# requirements.txt — prod deps only
Django==5.2
channels==4.0.0
psutil>=5.9.5
requests>=2.32.4


# Rebuild base image from Dockerfile.ci
#docker build -f Dockerfile.ci -t registry.gitlab.com/uhthesis/bidshopping:ci-base .
# Push to GitLab container registry
#docker push registry.gitlab.com/uhthesis/bidshopping:ci-base
