# app deps
Django==5.2
psutil>=5.9.5
requests>=2.32.4

# CI logging & analytics deps
pandas==2.3.0
numpy==1.26.4
scikit-learn==1.7.0
joblib==1.5.1
tensorflow==2.19.0
xgboost==3.0.2
channels==4.0.0
flake8==7.0.0


# Rebuild base image from Dockerfile.ci
#docker build -f Dockerfile.ci -t registry.gitlab.com/uhthesis/bidshopping:ci-base .
# Push to GitLab container registry
#docker push registry.gitlab.com/uhthesis/bidshopping:ci-base
