{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<style>
    div.ex1 {
  width: 100%;
  height: 300px;
  overflow: scroll;
}

</style>

<div class="container" style="width:100%;margin-top:2%;margin-bottom:4%;border:1px solid grey;border-radius:4px">
    <center><h4 style="margin-top:4%">Session Room</h4></center>
    <div align="right">
        <h4 style="color:red"><i class="fa fa-clock-o"></i> Start Time : {{pro.aucted_product.product.session.time}} &  End Time : {{end2}}</h4></div>
<hr />
    <div class="row" style="padding:20px">
        <div class="col-md-7">
            <div class="row" style="padding:20px">
        <div class="col-md-6">
            <img src="{{pro.aucted_product.product.images.url}}" style="width:100%">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <span>Product Name : </span>
                </div>
                <div class="col-md-6">
                    <span style="font-weight:bold"> {{pro.aucted_product.product.name}}</span><hr>
                </div>

                <div class="col-md-6">
                     <span>Product Seller : </span>
                </div>
                <div class="col-md-6">
                    <span style="font-weight:bold"> {{pro.aucted_product.user.user.username}}</span><hr>
                </div>
                <div class="col-md-6">
                     <span>Minium Price : </span>
                </div>
                <div class="col-md-6">
                     <span style="font-weight:bold"> &#x24;{{pro.aucted_product.product.min_price}}</span><hr>
                </div>
            </div>
            <div class="col-md-12">
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label style="font-weight:bold;color:green">Enter New Price</label>
                    <div class="form-row">

                        <div class="form-group col-md-8">

                        <input type="text" class="form-control" placeholder="Enter New Price" id="exampleInputPassword1" name="price">
                        </div>
                        <div class="form-group col-md-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div></div></div></div>
            <div class="col-md-5 ex1">
               <h5 align="center">All Participants</h5>
               <div id="liveResults">
                {% for i in pro2 %}
                <div class="row">
                    <div class="col-md-3"><img src="{{i.user.image.url}}" style="height:60px;width:96%"></div>
                    <div class="col-md-9">{{i.user.user.username}}
                    <h6>Current Bid : &#x24; {{i.new_price}}</h6></div>
                </div><hr>
                {% endfor %}
                </div>
            </div>
    </div></div>
{% if terror == "expire" %}
<script>
    alert('Session Expired');
    window.location="{% url 'view_auction' pro.id %}";
</script>
{% endif %}

{% if me %}
<script>
    alert('You have not Participated');
    window.location="{% url 'view_auction' 0 %}";
</script>
{% endif %}

<script>
    const refreshInterval = 1000;  // Update every 5 seconds (adjust as needed)
    function updateAuctionTable() {
        const pid = '{{ pid }}';
        const url = `/get_latest_auctions/${pid}/`;
    fetch(url)
        .then(response => response.json())
        .then(data => {
        const results = document.getElementById('liveResults')
        results.innerHTML = ''; // This removes all rows
        data.forEach(function(i) {
            const row = document.createElement('div');
            const imageDiv = document.createElement('div');
            const image = document.createElement('img');
            const username = document.createElement('div');
            const price = document.createElement('h6');
            const line = document.createElement('hr');

            row.className = "row";
            imageDiv.className = "col-md-3";
            username.className = "col-md-9";
            image.style["height"] = "60px";
            image.style["width"] = "96%";
            
            image.src=i.image;
            username.innerHTML = i.username;
            price.innerHTML = "Current Bid: $" + i.price

            imageDiv.appendChild(image);
            username.appendChild(price);

            row.appendChild(imageDiv);
            row.appendChild(username);
            results.appendChild(row);
            results.appendChild(line);
        });
        })
        .catch(error => {
            console.error('Error fetching auction data:', error);
          });;
    }

    setInterval(updateAuctionTable, refreshInterval);

    /**
    var ws_url = 'ws://' + window.location.host + '/ws/ticks/';
    var ticksSocket = new channels.WebSocket(ws_url);

    ticksSocket.onmessage = function(event) {
        var data = JSON.parse(event.data);
        console.log('data', data);
        
        const results = document.getElementById('liveResults')
        results.innerHTML = ''; // This removes all rows

        data.forEach(function(i) {
            const row = document.createElement('div');
            const image = document.createElement('div');
            const imageSrc = document.createElement('src');
            const username = document.createElement('div');
            const price = document.createElement('h6');
            const line = document.createElement('hr');

            row.className = "row";
            image.className = "col-md-3";
            username.className = "col-md-9";
            image.style["height"] = "60px";
            image.style["width"] = "96%";

            image.src=i.user.image.url;
            username.innerHTML = i.user.user.username;
            price.innerHTML = "$" + i.new_price 

            image.appendChild(imageSrc);
            username.appendChild(price);

            row.appendChild(image);
            row.appendChild(username);
            row.appendChild(line);
        });
    };
    */
</script>
{% endblock %}